# MacOS system
.DS_Store

# Coverage
coverage
*.out

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Master key files
configs/*.key

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*driver.log*

# 3rd party dependencies
node_modules
vendor

# Misc.
/assets
/storybook-static
/web/tests/e2e/reports/
tmp
{{.app.name}}
