.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
  header.masthead.mb-auto

  main.inner.cover(role="main")
    h1.cover-heading {$_("welcome.heading")}

    p.lead An opinionated productive web framework that helps scaling business easier.

    p.lead
      a.btn.btn-lg.btn-primary(href="https://appist.gitbook.io/appy/") Learn more

  footer.mastfoot.mt-auto
