.d-flex.align-items-center.min-vh-100
  .container
    .row.justify-content-center
      .col-12.col-md-5.col-xl-4.my-5
        .text-center
          h6.text-uppercase.text-muted.mb-4 404 error

          h1.display-4.mb-3Page Not Found

          p.text-muted.mb-4 Oops! The page you are looking for doesn't exist.

          a.btn.btn-lg.btn-primary(href="/") Return To Home Page
