{{extends "../layouts/application.html"}} 

{{block head()}}
<link rel="stylesheet" href="{{assetPath(`styles/welcome.css`)}}" />
{{end}} 

{{block body()}}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto"></header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">appy - server-side rendering</h1>
    
    <p class="lead">
      An opinionated productive web framework that helps scaling business
      easier.
    </p>

    <p class="lead">
      <a href="https://appist.gitbook.io/appy/" class="btn btn-lg btn-primary">
        Learn more
      </a>
    </p>
  </main>

  <footer class="mastfoot mt-auto"></footer>
</div>
{{end}}
